@model SearchFilter.Models.list

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>list</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F7)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F7)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F8)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F8)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F9)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F9)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F10)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F10)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F11)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F11)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F12)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F12)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F13)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F13)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F14)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F14)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F15)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F15)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F16)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F16)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F17)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F17)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F18)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F18)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F19)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F19)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F20)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F20)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F21)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F21)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F22)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F22)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F23)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F23)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F24)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F24)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.F25)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.F25)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
